<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
<meta charset="utf-8">
</head>

<body>
<div class="container" id="app">
  <section class="card">
    <button class="button expanded" v-on:click="reverseIndex()">Reverse Order of ToDos</button>
    <button class="button success expanded" v-on:click="completed()">Completed ToDos</button>
  </section>
      <section class="card" class="columns medium-12" class="form">
        <div style="margin-left:auto; margin-right: auto; width: 10em; text-align: center">
          <h5>Search ToDos</h5>
          <div class="card-section">
            <input v-model="form.query" style="margin-left: -2.9em">  
            <br /> 
            <button class="button alert small" v-on:click="searchV2(form.query)" style=" margin-top:1em">Ludicrous Speed Search</button>
            <br />
            <button class="button small" v-on:click="search(form.query)" >Search</button>
          </div>
        </div>
        <div>
          <div class="card-section" id="search-results" style="visibility: hidden; margin-left: .5em;background-color:royalblue; color:white"> 
              <p><span id="uuid"></span></p>  
              <p> <span id="title"></span></p>  
              <p><span id="description"></span></p>
              <p><span id="started"></span></p>
              <p><span id="completed"></span></p>
              <p><span id="iscompleted"></span></p>
              <hr />
              <p><span id='search-time'></span></p>
          </div>
        </div>  
      </section>
      <section class="columns medium-4"  class="form">
        <div class="card">
              <div class="card-section">
                <p> Create ToDo </p>
              </div>
              <div class="card-section">
                <input v-model="form.title" placeholder="Title">
              </div>
              <div class="card-section">
                <textarea style="width:100%;height:5em;" v-model="form.description" placeholder="Description goes here"></textarea>
              </div>
              <div class="card-section">
                <button class="button success" v-on:click="create(form.title, form.description)">Create</button>
              </div>
        </div>
      </section>
        <div class="columns medium-4" v-for="(result, index) in results">
            <div class="card">
                  <div class="card-section">
                    <p> ToDo </p>
                  </div>
                  <div class="card-divider">
                    <p>ID: {{ result.id }}</p>
                  </div>
                  <div class="card-section">
                    <p>Title</p>
                    <input v-model="result.title"> 
                  </div>
                  <div class="card-section">
                      <p>Description</p>
                      <textarea v-model="result.description"> </textarea>
                  </div>
                  <div class="card-section">
                      <p>Started On</p>
                      <p>{{ result.started }}</p>
                  </div>
                  <div class="card-section">
                      <p>Completed On</p>
                      <p>{{ result.completed }}</p>
                  </div>
                  <div class="card-section">
                      <p>Completed</p>
                      <input class="radio" type="radio" value="true" v-model="result.iscompleted" checked=""> 
                      <label for="radio" >Yes</label>
                      <input class="radio" type="radio" value="false" v-model="result.iscompleted" checked=""> 
                      <label for="radio"> No</label>
                  </div>  
                  <div class="card-section">
                    <button class="alert button" v-on:click="remove(result.id)">Delete</button>
                    <button class="warning button" style="margin-left:3em;margin-top:-1.1em" v-on:click="update(result.id, result.title, result.description, result.iscompleted)">Update</button>
                  </div>
            </div>
        </div>    
      </div>    
</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="crud.js"></script>

</body>
</html>